.sidebar {
  background-color: $white;
  color: $text-color;
  padding: rem(8) rem(0);
  margin-top: rem(1);
  max-width: rem(248);
  width: rem(248);
  height: calc(100vh - rem(76));
  @media (max-width: 1024px) {
    // Hide sidebar for screens smaller than 768px width
    display: none;
  }

  &__menu {
    list-style: none;
    padding: rem(0) rem(8);
    border-top: rem(1) solid $background-color;
    margin-top: rem(20);

    &-item {
      padding: rem(9);
      width: 100%;

      a {
        display: flex;
        align-items: center;
        color: $text-color;
        text-decoration: none;
        padding: rem(9);
        height: 100%;
        font-size: rem(14);
        font-weight: 700;
        font-family: $font-family;
        height: rem(35);
        color: $primary-color;

        span {
          margin-left: rem(17);
        }

        &.active {
          background-color: darken($primary-color, 10%);
          color: $white;
          border-radius: rem(5.333);
        }
        &:hover {
          background-color: darken($primary-color, 10%);
          color: $white;
          border-radius: rem(5.333);
        }
      }
    }
  }

  &-header {
    background-color: $white;
    padding: rem(10);
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: rem(5);
      background-color: $primary-color;
    }
  }

  &-title {
    color: #253244;
    font-family: "Proxima Nova";
    font-size: rem(17);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0 !important;
  }
}
